/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/* Background image */
.root{
	
	-fx-background-image: url("background.png");
}


.label{
	
	-fx-font-size: 12px;
	-fx-font-weight: bold;
	-fx-text-fill: #115E7F;
}

#login-text{
	
	-fx-font-size: 32px;
	-fx-font-family: "Arial Black";
	-fx-fill: #115E7F;
}

#actiontarget{
	
	-fx-font-weight: bold;
	-fx-fill: WHITE;
}

.button{
	
	-fx-text-fill: white;
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: bold;
	-fx-background-color: linear-gradient(#61a2b1, #2A5058);
}